body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}
li {
  list-style-type: none;
}
a {
  text-decoration: none;
}
section {
  padding-top: 120px;
  padding-bottom: 120px;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
ul {
  margin: 0;
  padding-left: 0;
}
img {
  display: block;
  max-width: 100%;
}

.container {
  width: 320px;
  margin: 0 auto;
  padding: 0 16px;
}
.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header {
  height: 72px;
  border-bottom: 1px solid #e7e9fc;
  display: flex;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.first-nav {
  display: none;
  align-items: center;
  margin-right: auto;
}
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  display: flex;
  margin-right: 76px;
}
.logo span {
  color: #2e2f42;
}

.first-ul {
  display: flex;
  gap: 40px;
}
.studio:first-child {
  color: #404bbf;
}
.studio::after {
  content: "";
  width: 100%;
  position: absolute;

  height: 4px;
  border-radius: 2px;
  display: block;
  position: absolute;
  bottom: -1px;
  left: 0;
  background-color: #404bbf;
}
.menu {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding: 24px 0;
  position: relative;
  transition-property: color, background-color;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu:hover {
  color: #404bbf;
}
.menu:focus {
  color: #404bbf;
}

.address-container {
  display: flex;
}
.address {
  font-style: normal;
  display: none;
  align-items: center;
}
.address .second-ul {
  display: flex;
}
.address .contacts {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.1;
  letter-spacing: 0.04em;
  color: #434455;
}
.address .contacts:hover {
  color: #404bbf;
}
.address .contacts:focus {
  color: #404bbf;
}
.first-section {
  background-color: #2e2f42;
  padding: 72px 0;
  margin: auto;
  background-color: #2e2f42;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/img-name.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  max-width: 1440px;
}
.main-text {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: #fff;
  text-align: center;
  align-items: center;
  margin: 0 56px;
}
.menu-btn {
  background-color: #2f2f37;
  width: 16.8px;
  height: 2.4px;
  border-radius: 4px;
  border: none;
  box-shadow: 0 4px #2f2f37, 0 8px #2f2f37;
}

.button {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  background-color: #4d5ae5;
  cursor: pointer;
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  margin: auto;
  margin-top: 72px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button:hover {
  background-color: #404bbf;
}

.button:focus {
  background-color: #404bbf;
}
.second-section {
  padding: 96px 0;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.third-ul {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 72px;
}
.advantages {
  width: 100%;
  margin: 0;
  padding-left: 0;
}
.icon-container {
  display: none;
}

.name-section {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
  text-align: center;
}

.second-par {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.third-section {
  background-color: #f4f4fd;
  padding-top: 96px;
  padding-bottom: 96px;
  margin: auto;
}
.name-third {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.four-ul {
  display: flex;
  flex-wrap: wrap;
  gap: 72px;
  align-items: center;
  justify-content: center;
  padding: 0 12px;
}
.third-li {
  background-color: #ffffff;
  text-align: center;
  box-sizing: border-box;
  gap: 8px;
  align-items: center;
  justify-content: center;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  width: 100%;
}
.name-container {
  padding: 32px 0;
}
.name {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
  margin-bottom: 8px;
}
.third-p {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-align: center;
  margin-bottom: 8px;
}
.icon-ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-direction: nowrap;
  gap: 24px;
}
.icon-li {
  width: 40px;
  height: 40px;
}
.icon-li .icon-a {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-a:hover {
  background-color: #404bbf;
}
.icon-a:focus {
  background-color: #404bbf;
}

.four-section {
  padding: 120px 0;
}
.five-ul {
  display: flex;
  flex-wrap: wrap;
  align-content: stretch;
  gap: 48px;
}
.five-li {
  position: relative;
  overflow: hidden;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  background: #fff;
}
.hidden-p {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #4d5ae5;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 40px 32px;
}

.img-container {
  position: relative;
  overflow: hidden;
}
.five-li:hover .hidden-p {
  transform: translateY(0%);
  height: 300px;
  width: 100%;
}
.five-li:hover {
  transform: translateY(0%);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.app-container {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.four-name {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.app-name {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.four-p {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.footer {
  background-color: #2e2f42;
  padding: 100px 0;
  margin: 0 auto;
}
.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  display: inline-block;
  margin-bottom: 16px;
}
.footer-span {
  color: #f4f4fd;
}
.footer-p {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding-bottom: 72px;
  text-align: left;
}
.footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.social-media {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
}
.footer-ul {
  display: flex;
  gap: 16px;
  padding-bottom: 72px;
}
.footer-li {
  width: 40px;
  height: 40px;
}
.footer-a {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-a:hover {
  background-color: #31d0aa;
}
.footer-a:focus {
  background-color: #31d0aa;
}
.social-footer {
  fill: #f4f4fd;
}

.form-container-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.sub-p {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
}
.form-footer {
  display: flex;
  gap: 24px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.form-input {
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 16px;
  border: 1px solid #ffffff;
  min-width: 264px;
  height: 40px;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 4px;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  color: #ffffff;
}
.form-input::placeholder {
  color: #ffffff;
}
.sub-button {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 165px;
  height: 40px;
  border-radius: 4px;
  background: #4d5ae5;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  border: none;
  transition: background-color box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}
.sub-button:hover {
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: #404bbf;
}
.svg-button {
  margin-left: 16px;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;

  width: 100%;
  height: 100%;

  background-color: rgba(46, 47, 66, 0.4);

  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-overlay.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;

  width: 288px;
  min-height: 623px;
  border-radius: 4px;
  padding: 72px 16px 24px 16px;

  transform: translate(-50%, -50%);

  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  background-color: #fcfcfc;

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop:not(.is-open) .modal {
  transform: translate(-50%, -100%);
}
.modal-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-svg {
  margin-top: 8px;
  margin-bottom: 8px;
}
.modal-close-btn:hover {
  background-color: #404bbf;
  border: none;
  fill: #ffffff;
}
.modal-close-btn:focus {
  background-color: #404bbf;
  border: none;
  fill: #ffffff;
}
.modal-svg-btn {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 16px;
}
.modal-form {
  display: flex;
  flex-direction: column;

  margin-top: 16px;
}
.container-form {
  margin-bottom: 8px;
}
.form-label {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  display: block;
  margin-bottom: 4px;
}
.container-modal-input {
  position: relative;
}
.modal-container-input {
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  width: 100%;
  height: 40px;
  padding-left: 38px;
  background-color: transparent;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-container-input:focus {
  border-color: #4d5ae5;
}

.modal-icon-svg {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-container-input:focus + .modal-icon-svg {
  fill: #4d5ae5;
}
.container-textarea {
  margin-bottom: 16px;
}
.form-textarea {
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-textarea:focus {
  border-color: #4d5ae5;
}
.container-checkbox {
  margin-bottom: 24px;
  display: flex;
  align-items: center;
  gap: 7, 5px;
}

.checkbox-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  display: flex;
  align-items: center;
  gap: 7px;
}
.checkbox-span {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
}
.visually-hidden:checked + .checkbox-label > .checkbox-span {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}
.privacy-policy {
  color: #4d5ae5;
}
.modal-send-btn {
  display: block;
  border-radius: 4px;
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: #4d5ae5;
  border: none;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  margin: 0 auto;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-send-btn:hover {
  background-color: #404bbf;
}
.modal-send-btn:focus {
  background-color: #404bbf;
}

.modal-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-nav.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.modal-nav-container {
  position: relative;
  padding-top: 72px;
  padding-bottom: 40px;

  display: flex;
  flex-direction: column;
  height: 100%;
}

.nav-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-in-modal {
  padding-top: 70px;
  padding-bottom: 168px;
}
.nav-modal-ul {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}
.social-link {
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-link:hover {
  background-color: #31d0aa;
}
.social-link:focus {
  background-color: #31d0aa;
}
.nav-menu {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
  position: relative;
  transition-property: color, background-color;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-menu:focus {
  color: #404bbf;
}
.nav-menu:active {
  color: #404bbf;
}
.modal-address {
  padding-bottom: 48px;
}
.modal-address-ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 24px;
}
.modal-contacts {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #434455;
  font-style: normal;
}
.modal-contacts:active {
  color: #4d5ae5;
}
.modal-social {
  padding-bottom: 40px;
}
.social-ul {
  display: flex;
  flex-direction: row;
  gap: 40px;
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
  .third-ul {
    gap: 24px;
    flex-direction: row;
  }
  .advantages {
    width: calc((100% - 24px) / 2);
  }
  .name-section {
    text-align: start;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    width: 100%;
    max-width: 1158px;
    padding: 0 15px;
  }
  .icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: #f4f4fd;
    border-radius: 4px;
    border: 1px solid #8e8f99;
    margin-bottom: 8px;
  }
  .advantages {
    width: calc((100% - 72px) / 4);
  }
  .name-section {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
  }
  .second-par {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 100%;
    max-width: 768px;
  }
  .four-ul {
    gap: 24px;
  }
  .third-li {
    flex-basis: calc((100% - 24px) / 2);
    max-width: 264px;
  }
}
@media screen and (min-width: 1158px) {
  .container {
    width: 100%;
    max-width: 1158px;
  }
  .third-li {
    flex-basis: calc((100% - 72px) / 4);
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 100%;
    max-width: 768px;
  }
  .five-ul {
    gap: 24px;
    row-gap: 72px;
  }
  .five-li {
    flex-basis: calc((100% - 24px) / 2);
  }
}

@media screen and (min-width: 1158px) {
  .container {
    width: 100%;
    max-width: 1158px;
  }
  .five-ul {
    gap: 24px;
    row-gap: 48px;
  }
  .five-li {
    flex-basis: calc((100% - 48px) / 3);
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 100%;
    max-width: 768px;
  }
  .first-nav {
    display: flex;
  }
  .address {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .menu-btn {
    display: none;
  }
  .second-ul {
    flex-direction: column;
    gap: 12px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    width: 100%;
    max-width: 1158px;
  }
  .second-ul {
    flex-direction: row;
    gap: 40px;
  }
  .address .contacts {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 100%;
    max-width: 768px;
  }
  .main-text {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    padding: 0 auto;
    align-items: center;
  }
  .button {
    margin-top: 36px;
  }
  .first-section {
    padding: 112px 0;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    width: 100%;
    max-width: 1158px;
  }
  .button {
    margin-top: 48px;
  }
  .first-section {
    padding: 188px 0;
  }
}

@media (min-resolution: 192dpi) {
  .first-section {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/office@2x.jpg);
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 100%;
    max-width: 768px;
  }
  .footer-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
    text-align: left;
    max-width: 496px;
    align-items: normal;
  }
  .logo-par-container {
    max-width: 52%;
    width: 100%;
  }
  .social-media-container {
    max-width: 40%;
    width: 100%;
  }
  .form-container-footer {
    width: 100%;
  }
  .form-container-footer {
    align-items: center;
  }
  .footer-p {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #f4f4fd;
  }
  .form-footer {
    display: flex;
    gap: 24px;
    flex-direction: row;
  }
  .sub-p {
    margin-right: auto;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    width: 100%;
    max-width: 1158px;
  }
  .footer-p {
    max-width: 264px;
    padding-bottom: 0;
  }
  .footer-container {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    text-align: left;
  }
  .logo-par-container {
    margin-right: 120px;
  }
  .social-media-container {
    margin-right: 80px;
  }
  .footer-ul {
    padding-bottom: 0;
  }
  .form-container-footer {
    align-items: center;
    justify-content: normal;
  }
  .form-footer {
    display: flex;
    gap: 24px;
    flex-direction: row;
  }
  .sub-p {
    margin-right: auto;
  }
}

@media screen and (min-width: 768px) {
  .modal {
    width: 408px;
    min-height: 584px;
    padding-left: 24px;
    padding-right: 24px;
  }
}
@media screen and (min-width: 768px) {
  .modal-nav {
    display: none;
  }
}
